{% extends "mainfiles/mainlayout.html" %}
{% block style %}
    <style>
    </style>
{% endblock style %}
{% block content %}
    <div class="container-fluid mt-5 mb-5 text-center">
        <h1 class="display-5">Our Projects For Teachers</h1>
    </div>
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teacher Notifications <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('teachernotificationsdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Personal Planner <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('personalplannerdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">MS Weather <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('mswdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">PB4L Points System <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('pb4lpointsysdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">QCAA Tracker <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('qcaatrackerdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teacher Finder <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('teacherfinderdesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow mb-5 mx-auto bg-body rounded" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Teacher Timetable <span class="badge bg-primary">New</span> </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="{{ url_for('teachertimetabledesc')}}" class="btn btn-primary">Sign Up!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}