{% extends "mainfiles/mainlayout.html" %}
{% block style %}
    <style>
    </style>
{% endblock style %}
{% block content %}
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <a type="a" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
            <a type="a" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></a>
            <a type="a" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></a>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ url_for('static', filename='mainfiles/news_slider_1.png')}}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='mainfiles/news_slider_2.png')}}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{{ url_for('static', filename='mainfiles/news_slider_3.png')}}" class="d-block w-100">
            </div>
        </div>
        <a class="carousel-control-prev" type="a" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" type="a" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A Better Way To Manage, Organise, and excel.</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Tailored And Researched Projects</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Ultimate Accessibility</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Easy To Manage</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Simple And Effective</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="py-5 bg-light">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-10 col-xl-7">
                    <div class="text-center">
                        <div class="fs-4 mb-4 fst-italic">"The only difference between a mob and a trained army is organization."</div>
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="fw-bold">
                                Calvin Coolidge
                                <span class="fw-bold text-primary mx-1">/</span>
                                30th U.S President
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our Projects For Students</h2>
                        <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('personalplannerdesc')}}"><h5 class="card-title mb-3">Personal Planner</h5></a>
                            <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('personalplannerdesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('teacherfinderdesc')}}"><h5 class="card-title mb-3">Teacher Finder</h5></a>
                            <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <a href="{{ url_for('teacherfinderdesc')}}" class="btn btn-primary">Sign Up!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('studenttimetabledesc')}}"><h5 class="card-title mb-3">Student Timetable</h5></a>
                            <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('studenttimetabledesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <center>
                <a href="{{ url_for('studentprojects')}}" class="btn btn-outline-secondary">See All</a>
            </center>
        </div>
    </section>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A Better Way To Manage, Organise, and excel.</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Tailored And Researched Projects</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Ultimate Accessibility</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Easy To Manage</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Simple And Effective</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our Projects For Teachers</h2>
                        <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('teachernotificationsdesc')}}"><h5 class="card-title mb-3">Teacher Notifications</h5></a>
                            <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('teachernotificationsdesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('mswdesc')}}"><h5 class="card-title mb-3">MS Weather</h5></a>
                            <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <a href="{{ url_for('mswdesc')}}" class="btn btn-primary">Sign Up!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('pb4lpointsysdesc')}}"><h5 class="card-title mb-3">PB4L Points System</h5></a>
                            <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('pb4lpointsysdesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <center>
                <a href="{{url_for('teacherprojects')}}" class="btn btn-outline-secondary">See All</a>
            </center>
        </div>
    </section>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A Better Way To Manage, Organise, and excel.</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Tailored And Researched Projects</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Ultimate Accessibility</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Easy To Manage</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Simple And Effective</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our Packages</h2>
                        <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('studentcontentpackdesc')}}"><h5 class="card-title mb-3">Student Package</h5></a>
                            <p class="card-text mb-0">Are you a student looking for a sleek and proffesional, optimisation and organisation tool? Well this is the package for you!</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('studentcontentpackdesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">New</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('teachercontentpackdesc')}}"><h5 class="card-title mb-3">Teacher Package</h5></a>
                            <p class="card-text mb-0">This package has all of the right tools to make any teachers day easier, get access to our renowned teachers suite now!</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <a href="{{ url_for('teachercontentpackdesc')}}" class="btn btn-primary">Sign Up!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                        <div class="card-body p-4">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Reccomended</div>
                            <a class="text-decoration-none link-dark stretched-link" href="{{ url_for('duluxepackdesc')}}"><h5 class="card-title mb-3">School Package</h5></a>
                            <p class="card-text mb-0">Looking for the whole package? As a school administrator, you can now sign up your school to get the Meander Suite package!.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <a href="{{ url_for('duluxepackdesc')}}" class="btn btn-primary">Sign Up!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A Better Way To Manage, Organise, and excel.</h2></div>
                <div class="col-lg-8">
                    <div class="row gx-5 row-cols-1 row-cols-md-2">
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                            <h2 class="h5">Tailored And Researched Projects</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-building"></i></div>
                            <h2 class="h5">Ultimate Accessibility</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col mb-5 mb-md-0 h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Easy To Manage</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                        <div class="col h-100">
                            <div class="text-black rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                            <h2 class="h5">Simple And Effective</h2>
                            <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-light text-center text-lg-start">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">ABOUT US</h5>
                    <p>
                        Meander Suite was prorgammed and designed by Woodridge state high school student Lachlan Nielsen, as a compilation of ideas from the Woodridge State High School Community. The sum of ideas, shaped by teachers and students, is perfectly designed to meet the needs of the many by addressing the problems head on.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">THANK YOU TO OUR STAKEHOLDERS</h5>
                    <p>
                        I would like to thank the main stakeholders for Meander Suite, the staff and students of Woodridge State High School. Without you the ideas and refinements for Meander Suite would not have been possible, and for that I thank you.
                    </p>
                </div>
            </div>
        </div>
        <div class="text-light text-center p-3" style="background-color: rgb(17, 46, 82);">
            © 2022 Copyright:
            <a class="text-light" href="{{ url_for('index')}}">MEANDER SUITE</a>
        </div>
    </footer> 
{% endblock content %}