{% extends "teacherpagefiles/teacherlayout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='teacherpagefiles/pb4lpointsys.css')}}">
{% endblock style %}
{% block content %}
    <h1 id="title">Class HUM010C</h1>
    <form id="interface">
        <table id="main_table">
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th>👍</th>
                <th>👀</th>
                <th>📈</th>
                <th>💭</th>
                <th>🙋‍♀️🙋‍♂️💡</th>
                <th>🦅</th>
                <th>👩‍🎓👨‍🎓</th>
                <th>😁</th>
                <th>👣</th>
    
            </tr>
            <tr>
                <td>Student A</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student B</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student C</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student D</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student E</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student F</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student G</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student H</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student I</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student J</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student K</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student L</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student M</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student N</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student O</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student P</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student Q</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student R</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student S</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student T</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student U</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student V</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student W</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student X</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student Y</td>
                <td>TG9853476345</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
            <tr>
                <td>Student Z</td>
                <td>380287HG4892</td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
                <td><input type="radio" id="radio"></td>
            </tr>
        </table>
    </form>
    <div class="bottom-bar">
        <button type="submit" id="submit" value="Save Points" form="interface">Save Points!</button>
    </div>

{% endblock content %}