{% extends "teacherpagefiles/teacherlayout.html" %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='teacherpagefiles/teacherpage.css')}}">
{% endblock style %}
{% block content %}
<div class="parallax1">
    <img id="welcome" src="{{ url_for('static', filename='mainfiles/logoblack.png')}}">
</div>
<div class="welcomebar">
    <div class="welcometitle">
        <h1>Welcome Teachers!</h1>
        <hr>
    </div>
    <div class="motto">
        <h2><i>"Through persistance, planning, and problem solving... We can change the world"</i></h2>
    </div>
    <br><br>
</div>   
{% endblock content %}